* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: "微软雅黑";
}

.title {
    font-weight: bold;
}

input {
    font-size: 20px;
    font-family: "微软雅黑";
    margin:5px 0px;
}

input[type="text"] {
    width: 200px;
    height: 25px;
}

textarea {
    width: 500px;
    height:100px;
    resize: none;
    font-size: 16px;
    font-family: "微软雅黑";
    margin:5px 0px;
}

#submit-btn {
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-family: "微软雅黑";
}

.content {
    text-align: center;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

